################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Snakes and Ladders/bin/x64
/Snakes and Ladders/obj
