<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snakes_and_Ladders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Snakes_and_Ladders.Properties.Settings>
            <setting name="CanSnakesAndLaddersIntersect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfSnakes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumberOfLadders" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SnakeTailBoxColor" serializeAs="String">
                <value>#FFDB7093</value>
            </setting>
            <setting name="SnakeHeadBoxColor" serializeAs="String">
                <value>#FF8B0000</value>
            </setting>
            <setting name="LadderStartBoxColor" serializeAs="String">
                <value>#FF7CFC00</value>
            </setting>
            <setting name="LadderEndBoxColor" serializeAs="String">
                <value>#FF006400</value>
            </setting>
            <setting name="SnakeColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="LadderColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="MaxLadderLength" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaxSnakeLength" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SnakeThicknessFactor" serializeAs="String">
                <value>40</value>
            </setting>
        </Snakes_and_Ladders.Properties.Settings>
    </userSettings>
</configuration>